/* .shop-list {
    background-color: #5ca9fb;
} */

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
  width: 100%;
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
  margin-bottom: 20px;
}
.product-card:hover {
  transform: scale(1.2, 1.2);
}

.product-image {
  border-radius: 15px;
  /* background-color: gray; */
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name {
  font-weight: 500;
}
